/* TrustedBySection.css */

@keyframes scrollMarquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .marquee {
    display: flex;
    width: max-content;
    animation: scrollMarquee 5s linear infinite;
  }
  